
.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 90%;
  margin: 0 auto;
}

.description {
  border: 1px solid #ddd;
  padding: 1px;
  margin-top: 40px;
  margin-bottom: 16px;
}

.btn-outline-primary-mt2 {
  position: relative;
  z-index: 1;
}

.card-subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: #6c757d;
  margin-bottom: 0.5rem;
}

.card-link {
  color: #007bff;
  text-decoration: none;
}

.card-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

.card-link:active {
  color: #0056b3;
}

.card {
  margin: 40px auto;
  width: 24rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.selectedcountry {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px;
  background-color: white;
}

.selectcountries {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
}

.selected-countries-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 3px;
  margin-bottom: 0px;
}

.selected-country {
  display: flex;
  align-items: center;
  margin-left: 2px;
  margin-right: 2px;
  padding: 3px;
  background-color: #f0f0f0;
  border-radius: 5px;
  height: 25px;
  font-size: 14px;
}

.remove-country {
  margin-left: 4px;
  padding: 3px 6px 3px 6px;
  margin-top: 14px;
  border: none;
  background-color: #ff6666;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-size: 8px;
}



