input {
  display:flex;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  border: 1px solid black;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  border: 1px solid black;
}

.default {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 1px solid black;
}

.double {
  grid-column: span 4;
}

.custom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 1px solid black;
}

.delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 1px solid black;
}

.changepassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 0.25rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: #0069d9;
}
<<<<<<< HEAD
=======

.grid-container {
  display: flex;
  flex-direction: column;
}

.v-box{
  margin-bottom: 50px;
}

<<<<<<< HEAD
>>>>>>> bbd802cb2614759f26c67198587e8bbe7bd5a948
=======
.custom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 1px solid black;
}

<<<<<<< HEAD
>>>>>>> 75e0a27981f84ae9f90c26fb0ccb3f0db8008d17
=======
#inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-bottom: 20px;
}

.button-container button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #29335c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #005ea8;
}

h2 {
  font-size: 20px;
  color: #29335c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
<<<<<<< HEAD
>>>>>>> 9a667aed662cfe23410dddd68a47be744d6cce2b
=======

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
 
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.grid-container.parallel {
  grid-template-columns: 1fr 1fr;
}
>>>>>>> b698c87f4e64ac34ed290a8d655e0940b853c38c
