html, body, header {
  min-width: 600px;
}

@media only screen and (max-width: 800px){

  .form-container-box {
    display: flex;
    position: relative;
    align-items: flex-start;
    height: 100%;
    margin: 5px;
    top: 0;
  }

  .form-box{
    width: 100%;
    position: absolute;
    top: 0;
  }

  .form-box h4 {
    font-size: 25px;
  }

  .form-box input {
    width: 18em;
    height: 3em;
    margin-top: 1em;
  }

  .form-box button {
    width: 12.8em;
    height: 3.4em;
    
  }

  .grid-container {
    grid-template-columns: 1fr 1fr;
    height: 100%;
  }

  .parallel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

}

@media only screen and (max-width: 1024px) {

  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .parallel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

input {
  display: flex;
  width: 100%;
}

.passwordinput {
  width: 13em;
}

.form-container-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.form-box {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.custom-form-box {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.custom-form-box input {
  width: auto;
  margin-left: 1px;
}

.default {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  border: 1px solid black;
}

.double {
  grid-column: span 4;
}

button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}

.horizontal-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.button-container button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #29335c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #005ea8;
}

.grid-container.parallel {
  grid-template-columns: 1fr 1fr;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.v-box {
  margin-bottom: 50px;
}

#inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  /* width: 19em; */
  margin-bottom: 20px;
}

h1 {
  color: #29335c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  color: #29335c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.parallel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.link-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 160%;
}

.link:hover {
  text-decoration: underline;
  color: #0056b3;
}

.link:active {
  color: #0056b3;
}

p {
  display: flex;
}

.success-message {
  color: #155724;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}
